@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: "Montserrat", sans-serif;/* Assuming 'Inter' is imported */
    color: #333; /* Example text color */
  }
  .sm-title {
    font-family: "Montserrat", sans-serif;
    font-size: 3.8rem;
    font-weight: 100;
    line-height: 1em;
    margin-top: 0px;
    margin-bottom: 0px;
}
.lg-title {
  font-family: "Montserrat", sans-serif;
  font-size: 8.8rem;
  font-weight: 100;
  line-height: 1em;
  margin-top: 0px;
  margin-bottom: 0px;
}

  .bg-dash {
    background-color: #6c3a44
  }
   .bg-main {
    background-color: #121212;
   }
  .bg-main2{
    background-color: #6c3a4424;
  }

  .bg-main3 {
    background-color: #cf9874;
  }

  .bg-footer {
    background-color: #121212;
  }

  .no-hover-overlay {
    pointer-events: none;
  }
  
  .map-container {
    height: 50vh;
    width: 100%;
  }
  
  .rounded-xxl {
    border-top-left-radius: 2.5rem;  /* Top-left corner */
    border-top-right-radius: 2.5rem; /* Top-right corner */
    border-bottom-right-radius: 2.5rem; /* Bottom-right corner */
    border-bottom-left-radius: 0; /* No rounding on bottom-left corner */
  }
  
.image-container {
  transition: transform 0.3s ease; /* Smooth transition for the zoom effect */
  overflow: hidden; /* Prevent overflow if needed */
}

.image-container:hover {
  transform: scale(1.05); /* Scale up the image slightly on hover */
}


  
  /* styles.css */

.parallax {
  background-attachment: fixed;
  background-size: cover;
  background-position: top;
}

html {
  scroll-behavior: smooth;
}

.three-dots {
  display: flex;
  flex-direction: row; /* Change from column to row */
  justify-content: space-between;
  width: 14px; /* Adjust the width to accommodate the horizontal layout */
  height: 4px; /* Adjust the height */
}

.three-dots::before,
.three-dots::after,
.three-dots div {
  content: '';
  display: block;
  width: 4px;
  height: 4px;
  background-color: gray;
  border-radius: 50%;
}
